.intro{
    background-color: rgb(255, 255, 255);
    display: flex;
    .left{
        flex: 0.5;
        .imgContainer{
            width: 700px;
            height: 700px;
        }
       
    }
    .right{
        flex: 0.5;
        
    }
}